html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  animation: iryvenir 5s infinite ease-in;
  background-color: red;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
}

@keyframes iryvenir {
  0% {
    top: 0px;
  }

  45% {
    top: 500px;
    height: 100px;
    width: 100px;
  }
  50% {
    top: 600px;
    height: 5px;
    width: 150px;
  }
  70% {
    top: 500px;
    height: 100px;
    width: 100px;
  }

  100% {
    top: 0px;
  }
}
